<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>ADM Terminal - Arasaka</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;600;700&family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/CoresINDX.css}">
  <link rel="stylesheet" th:href="@{/CoresAdm.css}">
</head>
<body>

  <!-- Logo -->
  <img src="https://i.postimg.cc/QdNJVLYr/image.png" alt="Logo da Arasaka" class="arasaka-corner-logo">

  <div class="container">
    <div style="text-align: center;">
      <h1>Painel de Gestão de Ativos</h1>
    </div>

    <!-- Barra de busca e filtros -->
    <div class="controls-container">
        <input type="text" id="search-input" class="search-input" placeholder="Buscar por Nome ou HWID do SOC...">
        <select id="filter-select" class="filter-select">
            <option value="ALL">Todas as Classes</option>
            <!-- Opções de filtro serão inseridas aqui pelo JS -->
        </select>
    </div>

    <div class="table-container">
      <div style="overflow-x: auto;">
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Nome</th>
              <th>Classe</th>
              <th>Nível de Acesso</th>
              <th>HWID do SOC</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody id="admin-table-body">
            <tr>
              <td colspan="6" style="text-align:center; padding: 2rem;">A carregar dados do Datacenter Arasaka...</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
 <script th:src="@{admin.js}"></script>
</body>
</html>
